:root {
  --r: hsl(0, 100%, 74%);
  --g: hsl(154, 59%, 51%);
  --b: hsl(248, 32%, 49%);

  --db: hsl(249, 10%, 26%);
  --gb: hsl(246, 25%, 77%);
  --w: rgb(255, 255, 255);

  --ff: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--ff);
  text-align: center;
  color: var(--w);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 1rem 1rem;
  font-size: 2rem;
}

h1::first-letter {
  text-transform: uppercase;
}

p {
  padding: 0rem 1rem 1rem;
}

a {
  text-decoration: none;
}

button {
  min-width: 100%;
  padding: 1.5em 2em;
  border-radius: 0.5rem;
  border: none;

  font-size: 1rem;
  font-family: var(--ff);
  color: var(--w);
  font-weight: 300;
  cursor: pointer;
}

input {
  min-width: 100%;
  border: 1px ridge var(--gb);
  border-radius: 0.3rem;
  padding: 1rem 0rem;
}

input::placeholder {
  font-family: var(--ff);
  text-transform: capitalize;
  font-weight: 700;
  color: var(--db);
}

.pColor {
  color: var(--w);
  font-weight: 700;
}
.max-size {
  display: block;
  max-width: 12rem;
}

body {
  font-size: 16px;
  background-image: url(../images/bg-intro-mobile.png);
  background-color: var(--r);
}

.d-box {
  max-width: 450px;
  min-height: 100vh;
  padding: 2rem 1rem;
  margin: auto;
}

.d-flex {
  display: flex;
  flex-direction: column;
}

.paddings {
  padding: 1rem 1rem;
}

.btn-promo {
  background-color: var(--b);
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.137);
}

.user-form {
  background-color: var(--w);
  margin: 2rem 0 0 0;
  border-radius: 1rem;
  position: relative;

  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.137);
}

.btn-claim {
  background-color: var(--g);
  padding: 1rem 2rem;
  border-radius: 0.5rem;

  text-transform: uppercase;
  font-weight: 500;

  box-shadow: 0px -5px 0px 0px rgba(0, 0, 0, 0.137) inset;
}

.terms-text {
  padding: 1rem 1.5rem 0;
  color: var(--gb);
  font-size: 0.6rem;
  line-height: 2;
}

.terms-service {
  color: var(--r);
  font-family: var(--ff);
  font-weight: 700;
  font-size: 0.6rem;
}

.input-box {
  position: relative;
  padding: 0 0 1rem 0;
}

.error-img {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.8rem 0.5rem 1rem 0;
}

.error-texts {
  color: var(--r);
  font-size: 0.7rem;
  text-align: end;
  padding: 0rem 0rem;
}

.succed-text {
  border-radius: 2rem;
  background-color: rgb(113, 190, 113);
  max-width: 150px;
  position: absolute;
  top: 50%;
  right: 0;
  opacity: 0;
}

.opacityIn {
  animation: fadeIn ease 8s;
  opacity: 1;
}

.opacityOut {
  animation: fadeOut ease 4s;
  opacity: 0;
}

.succed-text p {
  padding: 1rem 0 0 0;
  text-align: center;
}

.colorHover {
  filter: opacity(70%);
}

.hidden {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width: 333px) {
  input {
    padding-left: 1rem;
  }
  .user-form {
    padding: 2rem 1.5rem;
  }
}
